.navbar-logo {
    width: 200px; 
    height: auto; 
    margin-right: 0;
    padding: 0;
  }
  .navbar-title {
    color: #ec7c12; 
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-left: 0;
  }
  